:root {
  --clr-primary: hsl(220, 98%, 61%);
  /* Light Theme Colors */
  --vl-gray: hsl(0, 0%, 98%);
  --vl-gray-blue: hsl(236, 33%, 92%);
  --l-gray-blue-light: hsl(233, 11%, 84%);
  --d-gray-blue-light: hsl(236, 9%, 61%);
  --vd-gray-blue: hsl(235, 19%, 35%);
  /* Drak Theme Colors */
  --vd-blue: hsl(235, 21%, 11%);
  --vd-desat-blue: hsl(235, 24%, 19%);
  --l-gray-blue-dark: hsl(234, 39%, 85%);
  --d-gray-blue-dark: hsl(234, 11%, 52%);
  --vd-gray-blue-one-dark: hsl(233, 14%, 35%);
  --vd-gray-blue-two-dark: hsl(237, 14%, 26%);

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  background-color: var(--vd-blue);
  color: var(--vl-gray);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* grid:
    "header header header" auto
    "...... lists ......" auto 
    "footer footer footer" auto/
    1fr minmax(100px, 300px) 1fr; */
}

.background-image {
  background-image: url(./images/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 250px;
}


.container {
  border: 2px solid red;
  /* width: 100%; */
  max-width: 700px;
  margin-top: 2em;
  padding-inline: 1.5em;
}

 header {
   grid-area: header;
   /* padding: 1em 2em 4em 2em; */
   display: flex;
   justify-content: space-between;
 }

 .title {
   font-weight: 700;
   color: var(--vl-gray);
   letter-spacing: 6px;
   text-transform: uppercase;
 }

 .theme-toggle {
   align-self: center;
   cursor: pointer;
 }

 .todo-header {
   background-color: var(--vd-desat-blue);
   height: 3em;
   display: flex;
   border-radius: 6px;
 }

 .task-creator {
   display: flex;
   align-items: center;
   flex-grow: 1;
 }

 .task-creator form {
   flex-grow: 1;
 }

 .new-task {
   width: 100%;
   padding: .75em;
   font-family: inherit;
   background-color: transparent;
   border: none;
   outline: none;
   color: var(--l-gray-blue-dark);
 }

 .new-task::placeholder {
   color: var(--vd-gray-blue-one-dark);
 }

.create-task {
  width: 3em;
  
}

.checkbox {
  height: 30px;
  width: 30px;
  border: 1px solid white;
}









 .todo-list {
   grid-area: lists;
 }

 .form{
   display: flex;
 }

 footer {
   grid-area: footer;
 }